@import "lib/var";
@import "lib/mixins";
@import "lib/reset";
@import "lib/fonts";
@import "lib/shadows";
body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
}
.wrapper {
  @include wrapper;
  @include flex-simple;
  flex: {
    direction: column;
    shrink: 1;
  }
  justify-content: space-between;
  height: 100%;
  position: relative;
}
header {
  width: 100%;
  height: 60px;
  background-color: $gr50;
  /*border-bottom: 4px solid black;*/
  margin-bottom: 1px;
  border-bottom: 1px solid #ccc;
  .logo-block {
    width: 245px;
    border-right: 1px solid #ccc;
    height: 100%;
    text-transform: uppercase;
    @include flex-simple;
  }
}
footer {
  width: 100%;
  min-height: 100px;
  background-color: $gr50;
  margin-top: 1px;
  /*border-top: 4px solid black;*/
}
section {
  width: 100%;
  min-height: 200px;
  background-color: $gr50;
}
.leftside-bar {
  position: fixed;
  left:0; bottom: 0;
  height: calc(100% - 61px);
  width: 245px;
  background-color: $gr50;
  border-right: 1px solid #ccc;
}
.rightside-bar {
  position: fixed;
  right: 0; bottom: 0;
  height: calc(100% - 61px);
  width: 270px;
  background-color: $gr50;
  border-left: 1px solid #ccc;
}