/*COLORS*/
/*GREY PATTERN*/
/*RED PATTERN*/
/*TEXT*/
/*MARGINS AND PADDINGS*/
/*SHADOWS*/
/*FLEX MIXINS*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  outline: none; }

button {
  padding: 0;
  outline: none;
  border: none; }

.home-icon {
  background-image: url("../img/icons/home.png");
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-size: 14px; }

.logo-block {
  width: 100%;
  height: 120px;
  font-size: 20px;
  padding: 6px;
  font-weight: 600;
  background-color: #424242;
  background-image: url("../img/icons/circle.png");
  background-size: 100%;
  background-position: left -86px center;
  background-repeat: no-repeat;
  color: #FAFAFA;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .logo-block a {
    color: #fafafa;
    text-decoration: none; }

.leftside-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 245px;
  background-color: black;
  min-height: 100px;
  z-index: 4; }
  .leftside-bar-user-block {
    width: 100%;
    min-height: 20px;
    border-bottom: 1px solid #424242;
    padding: 32px 0;
    padding-left: 32px; }
    .leftside-bar-user-block .bar {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 30px;
      color: #EEEEEE;
      padding: 0 8px 0 0;
      margin-bottom: 16px;
      font-size: 14px;
      transition: all ease .25s;
      cursor: pointer;
      font-weight: 600; }
      .leftside-bar-user-block .bar:hover {
        color: #78909C; }
      .leftside-bar-user-block .bar span {
        display: block;
        height: 100%;
        line-height: 2.3;
        padding-right: 10px;
        text-align: left; }
      .leftside-bar-user-block .bar i {
        width: 16px;
        margin-right: 16px; }
    .leftside-bar-user-block .active {
      color: #78909C; }
  .leftside-bar .search-block {
    width: 100%;
    min-height: 20px;
    border-bottom: 1px solid #424242;
    padding: 32px 0;
    position: relative; }
    .leftside-bar .search-block .search {
      width: calc(100% - 16px);
      height: 32px;
      background-color: transparent;
      border: 1px solid #424242;
      padding: 5px;
      color: #FAFAFA; }
  .leftside-bar .back-block {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex; }
    .leftside-bar .back-block .back-button {
      position: absolute;
      right: 0;
      top: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-content: center;
      -ms-flex-line-pack: center;
      align-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      width: 30px;
      height: 30px;
      color: #FAFAFA;
      font-size: 32px;
      cursor: pointer;
      transition: .25s; }
      .leftside-bar .back-block .back-button:hover {
        color: #78909C; }
      .leftside-bar .back-block .back-button i {
        margin: 0;
        width: auto;
        height: auto; }

header {
  width: 100%;
  height: 120px;
  /*border-bottom: 4px solid black;*/
  margin-bottom: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  header .top-nav {
    width: calc(100% - 245px);
    height: 100%;
    background-color: #FAFAFA;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    header .top-nav ul {
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      header .top-nav ul li {
        height: 100%; }
        header .top-nav ul li a {
          color: #212121;
          font-size: 14px;
          font-weight: 400;
          text-decoration: none;
          height: 100%;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center; }

.search-tiny {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32px;
  height: 32px;
  position: absolute;
  right: 16px;
  top: 32px;
  background-color: #424242;
  cursor: pointer;
  transition: all ease .25s; }
  .search-tiny:hover {
    background-color: #757575; }
  .search-tiny:active {
    background-color: #616161; }
  .search-tiny i {
    width: 100%;
    height: 100%;
    color: #FAFAFA;
    font-size: 16px; }

body {
  background-color: #FAFAFA;
  font-family: 'Roboto Slab', serif; }

.wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  justify-content: space-between;
  height: 100%;
  position: relative;
  min-height: 500px; }

footer {
  width: 100%;
  min-height: 100px;
  background-color: #FAFAFA;
  margin-top: 1px;
  /*border-top: 4px solid black;*/ }

section {
  width: 100%;
  min-height: 200px;
  background-color: #FAFAFA; }

.page {
  width: calc(100% - 246px);
  min-height: 100px;
  margin-left: 246px; }

/*DELETE THIS*/
.first-letter {
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  font-size: 45px;
  color: white;
  bottom: 2px;
  left: 34px; }
  .first-letter span {
    font-size: 33px; }

.second-letter {
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #F44336;
  left: 83px;
  top: 12px; }

/*# sourceMappingURL=style.css.map */
