@import "lib/var";
@import "lib/mixins";
@import "lib/reset";
@import "lib/fonts";
@import "lib/iconbox";
@import "common/lefsidebar";
@import "common/header";
@import "common/buttons";
body {
  background-color: $gr50;
  font-family: 'Roboto Slab', serif;
}
.wrapper {
  @include wrapper;
  @include flex-simple;
  flex: {
    direction: row;
    shrink: 1;
  }
  justify-content: space-between;
  height: 100%;
  position: relative;
  min-height: 500px;
}

footer {
  width: 100%;
  min-height: 100px;
  background-color: $gr50;
  margin-top: 1px;
  /*border-top: 4px solid black;*/
}
section {
  width: 100%;
  min-height: 200px;
  background-color: $gr50;
}
.page {
  width: calc(100% - 246px);
  min-height: 100px;
  margin-left: 246px;
}



/*DELETE THIS*/
.first-letter {
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  font-size: 45px;
  color: white;
  bottom: 2px;
  left: 34px;
  span {
    font-size: 33px;
  }
}
.second-letter {
  position: absolute;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  color: #F44336;
  left: 83px;
  top: 12px;
}
