<section class="news">
	<h2 class="green-txt">Последние новости</h2>
	<div class="news-grid">
		<div class="news-cell">
			<div class="image-box">
				<img src="http://c.mwp4.me/media/wp_400x400/1/1/5910-695731432.jpg"/>
			</div>
			<div class="sign">
				<h4>CryEngine 5</h4>
				<p>Обзор нового движка</p>
			</div>
		</div>
		<div class="news-cell"></div>
		<div class="news-cell"></div>
		<div class="news-cell"></div>
		<div class="news-cell"></div>
		<div class="news-cell"></div>
		<div class="news-cell"></div>
		<div class="news-cell"></div>
	</div>
	<a href="#" class="simple-button show-more">Показать еще</a>
</section>