<section class="reviews">
	<h2 class="green-txt">Популярные обзоры</h2>
	<article class="review-list">
		<div class="review-poster">
			<img src="../../../img/posters/witcher_3_wild_hunt.jpg"/>
			<div class="poster-title">
				<h5>The Witcher 3: Wild Hunt</h5>
			</div>
		</div>
		<div class="review-anounce">
			<div class="review-author">
				<div class="wrap-avatar">
					<img src="../../../img/icons/kanobu.png">
				</div>
				<div class="wrap-nickname">
					<a class="nickname" href="#">Канобу</a>
					<p>1 апреля 2016</p>
				</div>
				<div class="review-score">100</div>
			</div>
			<div class="review-anounce-text">
				<h4>Олдскульное чудо от игровой индустии</h4>
				<p>«Ведьмак 3: Дикая охота» — чудо из тех, что случаются в игровой индустрии не так уж часто. Это игра, которая не просто показала высокий и современный уровень, но и совершила настоящий прорыв. Столь живого и наполненного событиями открытого мира игровая индустрия ещё не знала. Сложные взаимосвязанные цепочки квестов, размах, отличная проработка персонажей, славянский колорит, серьезный подход к постановке сцен и неожиданные повороты сюжета вместе с потрясающей картинкой должны порадовать всех.</p>
			</div>
		</div>

		<div class="review-anounce">
			<div class="review-author">
				<div class="wrap-avatar">
					<img src="https://avt-5.foto.mail.ru/community/gguru/_avatar180?1374072292">
				</div>
				<div class="wrap-nickname">
					<a class="nickname" href="#">GameGuru</a>
					<p>1 апреля 2016</p>
				</div>
			</div>
			<div class="review-anounce-text">
				<h4>«Ведьмак 3: Дикая Охота». Все получилось</h4>
				<p>Огромный проработанный и насыщенный мир, созданный вручную, потрясающая атмосфера, живые персонажи и необычайно красивая история делают «Ведьмака 3» одной из лучших игр за всю историю игровой индустрии и точно лучшей RPG последних лет. Уникальный случай, когда разработчики смогли оправдать и даже превзойти и без того завышенные ожидания.</p>
			</div>
		</div>
	</article>

	<article class="review-list">
		<div class="review-poster">
			<img src="http://gamekraft.net/uploads/posts/2015-04/thumbs/1429621392_49712074.jpg"/>
			<div class="poster-title">
				<h5>Firewatch</h5>
			</div>
		</div>
		<div class="review-anounce">
			<div class="review-author">
				<div class="wrap-avatar">
					<img src="../../../img/icons/kanobu.png">
				</div>
				<div class="wrap-nickname">
					<a class="nickname" href="#">God is a Geek</a>
					<p>1 апреля 2016</p>
				</div>
			</div>
			<div class="review-anounce-text">
				<h4>Firewatch Review</h4>
				<p>A gorgeous, spellbinding game that plays with your thoughts and delivers a narrative throughline that you never see coming. An absolute must for fans of storytelling in games.</p>
			</div>
		</div>

		<div class="review-anounce">
			<div class="review-author">
				<div class="wrap-avatar">
					<img src="http://cdn.marketplaceimages.windowsphone.com/v8/images/2ab13427-3328-428b-b8f3-3f82754da0ae?imageType=ws_icon_large">
				</div>
				<div class="wrap-nickname">
					<a class="nickname" href="#">IGN</a>
					<p>1 апреля 2016</p>
				</div>
			</div>
			<div class="review-anounce-text">
				<h4>AMAZING</h4>
				<p>Firewatch is among the best of the "walking simulators" thanks to stellar writing, art direction, and voice acting.</p>
			</div>
		</div>
	</article>
</section>