<div class="content">
	<div class="game-header">
		<div class="game-banner">
			<div class="score">88</div>
		</div>

		<div class="game-info">
			<table class="info-box">
				<caption><h1>Quantum Break</h1></caption>
				<tbody>
					<tr>
						<td>Жанр</td>
						<td>Action</td>
					</tr>
					<tr>
						<td>Разработчик</td>
						<td>Remedy</td>
					</tr>
					<tr>
						<td>Издатель</td>
						<td>Microsoft Game Studios</td>
					</tr>
					<tr>
						<td>Официальный сайт</td>
						<td><a href="#">www.xbox.com</a></td>
					</tr>
					<tr>
						<td>Канал дистрибьюции</td>
						<td>Steam</td>
					</tr>
					<tr>
						<td>Дата выхода (мир)</td>
						<td>06.04.2016</td>
					</tr>
					<tr>
						<td>Дата выхода (РФ)</td>
						<td>06.04.2016</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="game-content">
		<p class="paragraph">Quantum Break - это приключенческий экшен от третьего лица от создателей Max Payne и Alan Wake. Главный герой игры - молодой парень Джек, который после неудачного эксперимента смог управлять временем. За Джеком начинает охота некая организация под названием "Монарх", основатель которой, Пол Серин, так же владеет особой способностью - он может видеть альтернативные варианты будущего. Джеку приходится всеми силами противостоять "Монарху" используя новоприобретенные силы, чтобы понять, что же во время эксперимента пошло не так.</p>
		<p class="paragrapg">В игру кроме обычных катсцен встроен так же сериал с короткими эпизодами, которые раскрывают сюжет проекта. Детали каждой серии могут меняться в зависимости от того, какие решения игроки принимают в той или иной момент времени.</p>

		<section>


		<div class="overall-head">
			<div class="wrap-avatar">
				<img src="../../../img/icons/kanobu.png">
			</div>
			<div class="wrap-nickname">
				<a class="nickname" href="#">Скриншоты</a>
				<p>Quantum Break</p>
			</div>
		</div>
		<div class="screenshots">
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
		</div>

		<div class="overall-head">
			<div class="wrap-avatar">
				<img src="../../../img/icons/kanobu.png">
			</div>
			<div class="wrap-nickname">
				<a class="nickname" href="#">Арты</a>
				<p>Quantum Break</p>
			</div>
		</div>

		<div class="screenshots">
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
		</div>

			<div class="overall-head">
				<div class="wrap-avatar">
					<img src="../../../img/icons/kanobu.png">
				</div>
				<div class="wrap-nickname">
					<a class="nickname" href="#">Постеры</a>
					<p>Quantum Break</p>
				</div>
			</div>

		<div class="screenshots">
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
			<div class="preview">
				<a href="#"><img src=""/></a>
			</div>
		</div>
		</section>
	</div>
</div>