<div class="content">
	<div class="game-header">
		<div class="game-banner">
			<div class="score">88</div>
		</div>

		<div class="game-info">
			<table class="info-box">
				<caption><h1>Quantum Break</h1></caption>
				<tbody>
					<tr>
						<td>Жанр</td>
						<td>Action</td>
					</tr>
					<tr>
						<td>Разработчик</td>
						<td>Remedy</td>
					</tr>
					<tr>
						<td>Издатель</td>
						<td>Microsoft Game Studios</td>
					</tr>
					<tr>
						<td>Официальный сайт</td>
						<td><a href="#">www.xbox.com</a></td>
					</tr>
					<tr>
						<td>Канал дистрибьюции</td>
						<td>Steam</td>
					</tr>
					<tr>
						<td>Дата выхода (мир)</td>
						<td>06.04.2016</td>
					</tr>
					<tr>
						<td>Дата выхода (РФ)</td>
						<td>06.04.2016</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="game-nav">
		<ul class="game-tabs">
			<li>Все и сразу</li>
			<li>Скриншоты</li>
			<li>Видео</li>
			<li>Статьи</li>
			<li>Новости</li>
			<li>Комментарии</li>
		</ul>
	</div>

	<div class="game-content">

	</div>
</div>