<div class="leftside-bar">
	<div class="logo-block"><a href="/"></a></div>
	<div class="leftside-bar-user-block">
		<div class="bar active"><i class="fa fa-home"></i>Главная</div>
		<div class="bar"><i class="fa fa-user"></i>Профиль</div>
		<div class="bar"><i class="fa fa-save"></i>Игры для меня</div>
		<div class="bar"><i class="fa fa-heart"></i>Интересные игры</div>
		<div class="bar"><i class="fa fa-fighter-jet"></i>Игры по жанрам</div>
		<div class="bar"><i class="fa fa-briefcase"></i>Серии игр</div>
		<div class="bar"><i class="fa fa-star"></i>Популярно</div>
		<div class="bar"><i class="fa fa-money"></i>Издатели</div>
		<div class="bar"><i class="fa fa-group"></i>Разработчики</div>
	</div>
	<div class="search-block">
		<input class="search" type="text" placeholder="Поиск">
		<button class="search-tiny"><i class="fa fa-search"></i></button>
	</div>
</div>