header {
  position: absolute;
  top: 0;
  right: 200px;
  width: calc(100% - 440px);
  height: 60px;
  border-bottom: 1px solid #cccccc;
  z-index: 2;
  background-color: #ffffff;
  box-shadow: $shadow2;
  @include flex-simple;
  @include flex-start;

  ul {
    width: 100%;
    height: 100%;
    @include flex-simple;
    @include space-around;
  }

  li {
    @include flex-simple;
    height: 100%;
  }

  a {
    @include flex-simple;
    @include align-items-center;
    color: $gr900;
    text-decoration: none;
    font-size: 14px;
    height: 100%;
    &:hover {
      color: #00796B;
      border-bottom: 3px solid #00796B;
      margin-top: 2px;
    }
  }
}